.container-fluid{
  background-color: lightgrey;
  padding-left: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.header-buffer{
  height: 75px;
  z-index: -1;
  background-color: lightgrey;
}

.row{
  background-color: lightgrey;
  height: 308px;
}

h3{
  font-weight: bold;
  margin: 0 0 10px 15px;
  padding: 10px 0 0 15px;
}

.content{
  background-color: red;
/*  width: 166px;
  height: 233px;*/
  margin: 10px 13px 10px 13px;
  /*margin-left: 27px;*/
  display: inline-block;
  z-index: -1;
}

.content:hover{
  box-shadow: 0 0 20px black;
}

#popup  {
  width:313px;
  height:282px;
  background-color: #444;
  border-radius: 15px;
  position: absolute;
  top: 267px;
  left: 726px;
  z-index: 1;
  box-shadow: 0 0 40px black;
}

.hidden {
  display: none;
}

.show {
  display: auto;
}

#popup-header {
  background-color: #444;
  height: 42px;
  color: #fff;
  padding: 10px;
}

#popup-content {
  background-color: #fff;
  height: 220px;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.arrow-to-left {
  top: 80px;
  left: -30px;
  position: relative;
  width:  0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 27px solid white;
}

.arrow-to-right {
  top: 80px;
  left: 313px;
  position: relative;
  width:  0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 27px solid white;
}


